* text=auto
*.sh text eol=lf
*.command text eol=lf
*.py text eol=lf
*.bat text eol=crlf
*.template text eol=lf
*.png binary
*.jpg binary
*.zip binary
*.f3d filter=lfs diff=lfs merge=lfs -text
*.3mf filter=lfs diff=lfs merge=lfs -text
